.tour-text {
    text-align: center;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.main {
    margin: 50px;
}

.heading {
    font-style:italic;
}

.submitted {
    text-align: center;
}