<div class="menu">
  <div class="header">
    <div id="JumusTap">
      <img
        id="lopar"
        src="assets/icons8-earth-50.png"
        style="width: 25px"
        alt="Image"
      />CountryReports
    </div>
    <div class="home">
      <div>Home</div>
      <div>About us</div>
      <div>Countries</div>
      <button
        id="button-get-started"
        type="button"
        (click)="navigateToSignIn()"
      >
        Sign-in
      </button>
    </div>
  </div>

  <div class="menu-part-2">
    <div class="left-part">
      <div id="text">
        <h1>Travel farther for</h1>
        <h1>your memories, not</h1>
        <h1>your miles</h1>
      </div>
      <br />
      <p>
        The best tool to plan your next getaway.Connect with
        <span id="make-shift-2"> local experts — share your preferences</span>
        <span id="make-shift-3"> and embark on unforgettable journeys.</span>
      </p>
      <br />
      <button id="button-how-it-works">See all</button>
      <br />
    </div>

    <img id="menu-image" src="assets/travel.jpg" alt="Image" />
  </div>

  <!-- part2 -->

  <div class="how-it-works">
    <div class="first-block">How It Works?</div>

    <div class="second-part">
      <div class="number-1">
        <img src="assets\1 (1).png" alt="Image" />
        Start your first trip
        <p>Pick dates now</p>
      </div>
      <div>
        <img src="assets\2 (1).png" alt="Image2" />
        Explore top curated tours 
        <p>Read expert customer reviews</p>
      </div>

      <div>
        <img src="assets\3 (1).png" alt="Image3" />
        Book instant travel plans
        <p>Receive instant booking mail </p>
      </div>
    </div>
  </div>
  <!-- part3 -->
  <div class="lets-get-started">
    <div class="first-row">Lets Get Started</div>
    <div class="second-row">
      Explore various countries to find your ideal travel destination. Whether
      you seek <br />
      adventure, culture, or relaxation, discover the perfect place for your
      next journey.
    </div>

    <div class="third-row">
      <input type="text" placeholder="Search for country" />
      <button>Find</button>
    </div>
  </div>

  <!-- part4 -->
  <div class="upload-your-sv">
    <img src="assets\countries.png" alt="Image3" />

    <div class="upload">
      <p>Explore Countries</p>
      <div>
        Explore diverse cultures, vibrant cities, and breathtaking landscapes.
        <br />
        just start your journey and discover more.
      </div>

      <button>Explore</button>
    </div>
  </div>

  <!-- part5 -->
  <div class="links">
    <div
      class="Instagram-Twitter"
      style="margin-bottom: 60px; margin-right: 40px"
    >
      <span>Hello</span>
      <span>About us</span>
      <span>How it works</span>
      <img src="assets\Instagram (1).png" alt="Instagram" />
      <img src="assets\Twitter (1).png" alt="Twitter" />
    </div>
    <div
      style="
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: rgba(8, 30, 52, 1);
        margin-bottom: 55px;
        color: #838e99;
        margin-right: 40px;
      "
    >
      <!-- Credits: photos from
      <a href="https://unsplash.com/@surface" style="color: #838e99"
        >Unsplash.com</a
      >, icons from
      <a href="https://icons8.com/" style="color: #838e99">Icons8</a>, graphics
      from
      <a
        href="https://craftwork.design/checkout/purchase-confirmation/?payment_key=a3ba0d28aa30dfd691cd535acb1f4228"
        style="color: #838e99"
        >craftwork.design</a
      >, font Kanit from
      <a href="https://fonts.google.com/specimen/Kanit" style="color: #838e99"
        >fonts.google</a
      >. -->
      Explore new destinations, immerse in cultures, and create unforgettable
      memories.
    </div>
  </div>
</div>
