<div class="parent">
    <!-- <img src="/assets/image-log-in.png"> -->
    
    <form>
        <h1>Sign In</h1>
        <br>
        <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
         <br>
        </div>
        <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <p><a href="#" class="link-underline-dark forget-password">Forget password?</a></p>
        </div>
            <button type="button" class="btn btn-outline-success ">Log in</button>

        <span>
            <p><a href="#" class="link-underline-dark forget-password" routerLink="/log-up">Don't have account? Sign up</a></p>
        </span>

    </form>

</div>
