
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 50px;">
    <a class="navbar-brand" href="#">Navigaton</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Personal account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Map</a>
        </li>
      </ul>
    </div>
  </nav>

<p class="h3 heading">Explore different cultures and share your opinions in comments section!</p>
<div class="container d-flex justify-content-center flex-wrap">
<ng-container class = "container" *ngFor="let countriesList of list_data"> 
    <div class="card mb-3 shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
        <img src="{{ countriesList.image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ countriesList.name }}</h5>
            <p class="card-text">{{ countriesList.description }}</p>
            <a [routerLink]="['/country', countriesList.id]" href="#" class="btn btn-primary">See More</a>
        </div>
    </div>
</ng-container>
</div>
